* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('animations.css');
body {
  background-image: url('../gambar/budaya/bg3.jpg');
  background-size: cover;
  z-index: -100;
  overflow-x: hidden;
  background-attachment: fixed;
}
body::after {
  content: "";
  display: block;
  width: 100%;
  height: 150vh;
  background: radial-gradient(circle, transparent 40%, rgba(28,27,35,0.6));
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}
body::before {
  content: "";
  position: fixed;
  right: min(7vw, 10%);
  top: 0;
  width: 300px;
  height: 150vh;
  background-color: rgba(253,37,37,0.7);
  z-index: -1;
  animation: inTopLinear 1.2s ease-out 0.3s backwards;
  overflow-x: hidden;
}
.mainImage {
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translate(0, -50%);
  width: min(35vw, 500px);
  aspect-ratio: 16/9;
  border: 3px solid var(--cream); 
  padding: 3px;
  border-radius: 6px;
  animation: inRightLinear 2s ease-in-out 1.2s backwards;
}
.mainImage img {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 100%;
}
.desContainer {
  margin-top: 55px;
  width: max(40%, 45vw);
  display: flex;
  align-items: flex-start;
  height: 86vh;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  text-shadow: 0 0 25px rgb(225,225,225);
}
.title {
  position: relative;
  display: inline-block;
  width: 70%;
  font-size: 3em;
  z-index: 1;
  text-align: center;
}
.title::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  bottom: 0;
  background-color: rgb(15,74,170);
  z-index: -1;
  animation: linearAnimation 2s ease-in-out 2.6s backwards;
}
.infContainer {
  padding: 5px;
  width: 40px;
  height: 30px;
  margin: 10px 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.item {
  width: 15px;
  height: 15px;
  margin-left:8px;
  display: inline-block;
}
.pt1 {
  animation: inLeftLinear 1s ease-in-out 0.9s backwards;
}
.pt2 {
  animation: inLeftLinear 1s ease-in-out 1.2s backwards;
}
.pt3 {
  animation: inLeftLinear 1s ease-in-out 1.5s backwards;
}
.pt4 {
  animation: inLeftLinear 1s ease-in-out 1.8s backwards;
}
.pt5 {
  animation: opacitys 1s ease-in-out 2.1s backwards;
}
.pt6 {
  animation: opacitys 1s ease-in-out 2.4s backwards;
}
.animate {
  display: inline-block;
  animation: notification 2.5s ease-in 4s infinite;
}
.animate2 {
  display: inline-block;
  animation: notification 2.5s ease-in 4.1s infinite;
}
footer {
  text-align: center;
  padding: 20px;
}
@media (max-width: 650px) {
  .navbar {
    position: static;
    z-index: 2;
  }
  .mainImage {
    position: static;
    z-index: 1;
    margin: 10% auto;
    transform: (0,0);
    width: min(70vw, 500px);
    border: 3px solid var(--cream); 
    padding: 3px;
    border-radius: 6px;
    transform: translate(0, 0);
    animation: inTopLinear 1s ease-out 0.8s backwards;
  }
  .desContainer {
    position: static;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    gap: 1.1em;
  }
  .title {
    text-align: left;
    display: block;
    width: 65%;
    font-size: 2em;
    z-index: 0;
  }
  body::before {
    content: "";
    position: fixed;
    right: min(40vw, 10%);
    top: 0;
    width: min(20vw, 250px);
    height: 150vh;
    animation: inTopLinear 3s ease-out 0.3s backwards;
    overflow-x: hidden;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}