* {
  box-sizing: border-box;
}
body {
  background-color: #201818;
  color: white;
}
.nav {
  margin: 15px;
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color: #b9937c;
  border-radius: 10px;
  -webkit-tap-highlight-color: transparent;
}
div {
  text-align: center;
}